@import "tailwindcss";

/* Bangla Font */
@font-face {
    font-family: 'LiShobuj';
    src: url('/font/Li Shobuj Nolua Unicode copy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Force only h2 */
h2 {
    font-family: 'LiShobuj' !important;
}